{% extends "base.html" %}
{% block content %}

<div>
  {{ macros.m_button_group([['global_setting_save_btn', '설정 저장']])}}
  {{ macros.m_row_start('5') }}
  {{ macros.m_row_end() }}
  <nav>
    {{ macros.m_tab_head_start() }}
      {{ macros.m_tab_head2('normal', '기본', true) }}
      {{ macros.m_tab_head2('jav_censored', 'JAV Censored', false) }}
      {{ macros.m_tab_head2('jav_uncensored', 'JAV Uncensored', false) }}
      {{ macros.m_tab_head2('western', 'Western', false) }}
      {{ macros.m_tab_head2('etc', '일반파일', false) }}
      {{ macros.m_tab_head2('action', '기타', false) }}
    {{ macros.m_tab_head_end() }}
  </nav>
  <form id='setting' name='setting'>
  <div class="tab-content" id="nav-tabContent">
    <!-- 일반 -->
    {{ macros.m_tab_content_start('normal', true) }}
      {{ macros.setting_global_scheduler_button(arg['scheduler'], arg['is_running']) }}
      {{ macros.setting_input_int('interval', '파일 처리 실행 주기', value=arg['interval'], min='1', placeholder='2', desc='minute 단위') }}
      {{ macros.setting_checkbox('auto_start', '시작시 자동실행', value=arg['auto_start'], desc='On : 시작시 자동으로 스케쥴러에 등록됩니다.') }}
      {{ macros.setting_input_int('web_page_size', '웹 페이지당 게시물 수', value=arg['web_page_size'], min='1', placeholder='30') }}
      
    {{ macros.m_tab_content_end() }}

    {{ macros.m_tab_content_start('jav_censored', false) }}
      {{ macros.setting_checkbox('censored_use', '사용', value=arg['censored_use']) }}
      <div id="censored_use_div" class="collapse">
      {{ macros.setting_input_textarea('censored_download_path', '다운로드 경로', desc=['Censored 영상을 다운받은 경로입니다.', '2개 이상일 경우 , 구분자 | 또는 엔터'], value=arg['censored_download_path'], row='3') }}
      {{ macros.setting_input_textarea('censored_target_path', '라이브러리 경로', desc=['Censored 영상 파일이 정리될 폴더입니다.', '2개 이상일 경우 구분자 | 또는 엔터', '레이블 폴더들이 있는 폴더여야 하고 경로 마지막에 *가 있는 경우 이를 지원합니다.'], value=arg['censored_target_path'], row='3') }}
      {{ macros.setting_input_text('censored_temp_path', '파일명 변경 실패시이동 경로', desc=['파일명 변경을 하지 못하는 영상 파일이 이동할 폴더입니다.'], value=arg['censored_temp_path']) }}
      {{ macros.setting_input_int('censored_min_size', '최소 크기', value=arg['censored_min_size'], placeholder='300', desc=['메가단위', '이 크기보다 작은 파일은 모두 삭제합니다.']) }}
      {{ macros.setting_checkbox('include_original_filename', '원본 파일명 포함', value=arg['include_original_filename'], desc=['On : 파일명 변경시  원본파일명을 포함합니다.', '내용은 같으나 품질이 다른 영상 처리시 유용합니다.']) }}
      {{ macros.setting_radio('censored_use_meta', '메타 검색 사용', ['사용안함', '레이블 폴더가 없을 경우에만 사용', '모든 파일처리시 사용'], value=arg['censored_use_meta'], desc=['Proxy 설정은 Plex - AV Agent를 통해서 해야합니다.']) }}
      <div id="censored_use_meta_div" class="collapse">
        {{ macros.setting_input_text('censored_meta_dmm_path', 'DMM 매칭시 이동 경로', desc=['DMM 매칭시 레이블 폴더가 생성될 경로입니다.'], value=arg['censored_meta_dmm_path']) }}
        {{ macros.setting_input_text('censored_meta_javdb_path', 'JAVDB 매칭시 이동 경로', desc=['JAVDB 매칭시 레이블 폴더가 생성될 경로입니다.'], value=arg['censored_meta_javdb_path']) }}
        {{ macros.setting_input_text('censored_meta_no_path', '메타가 없을때 이동 경로', desc=['메타가 없을때 레이블 폴더가 생성될 경로입니다.'], value=arg['censored_meta_no_path']) }}
      </div>
      </div>
    {{ macros.m_tab_content_end() }}        



    {{ macros.m_tab_content_start('jav_uncensored', false) }}
      {{ macros.setting_checkbox('uncensored_use', 'Uncensored 사용', value=arg['uncensored_use']) }}
      {{ macros.setting_input_textarea('uncensored_download_path', '다운로드 경로', desc=['Uncensored 영상을 다운받은 경로입니다.', '2개 이상일 경우 , 구분자 | 또는 엔터'], value=arg['uncensored_download_path'], row='3') }}
      <div id="uncensored_use_div" class="collapse">
      {{ macros.setting_input_textarea('uncensored_target_path', '라이브러리 경로', desc=['Uncensored 영상 파일이 정리될 폴더입니다.', '2개 이상일 경우 구분자 | 또는 엔터'], value=arg['uncensored_target_path'], row='3') }}
      {{ macros.setting_input_text('uncensored_temp_path', '이동 실패시', desc=['정해진 규칙에 의해 파일이동을 하지 못하는 영상 파일이 이동할 폴더입니다.'], value=arg['uncensored_temp_path']) }}
      {{ macros.setting_input_int('uncensored_min_size', '최소 크기', value=arg['uncensored_min_size'], placeholder='300', desc=['메가단위', '이 크기보다 작은 파일은 모두 삭제합니다.']) }}
      {{ macros.setting_radio('uncensored_use_meta', '메타 검색 사용', ['사용 안함', '사용'], value=arg['uncensored_use_meta'], desc=['Proxy 설정은 Plex - AV Agent를 통해서 해야합니다.']) }}
      
      <div id="uncensored_use_meta_div" class="collapse">
        {{ macros.setting_input_text('uncensored_meta_match_path', '메타 매칭시 이동 경로', desc=['메타 매칭시 이동할 경로입니다.'], value=arg['uncensored_meta_match_path']) }}
        {{ macros.setting_input_text('uncensored_meta_unmatch_path', '메타 매칭 실패시 이동 경로', desc=['메타 매칭 실패시 이동할 경로입니다.'], value=arg['uncensored_meta_unmatch_path']) }}
      </div>

      </div>
    {{ macros.m_tab_content_end() }}
       


    {{ macros.m_tab_content_start('western', false) }}
      {{ macros.setting_checkbox('western_use', 'Western 사용', value=arg['western_use']) }}
      <div id="western_use_div" class="collapse">
      {{ macros.setting_input_textarea('western_download_path', '다운로드 경로', desc=['Western 영상을 다운받은 경로입니다.', '2개 이상일 경우 , 구분자 | 또는 엔터'], value=arg['western_download_path'], row='3') }}
      
      {{ macros.setting_input_text('western_remove_ext', '폴더내 삭제 확장자', desc=['폴더내 특정 확장자를 삭제합니다. 구분자 |', 'Western은 폴더에서 파일을 꺼내지 않고 폴더 통채로 이동합니다.'], value=arg['western_remove_ext']) }}

      {{ macros.setting_radio('western_use_meta', '메타 검색 사용', ['사용 안함', '사용'], value=arg['western_use_meta'], desc=['Proxy 설정은 Plex - AV Agent를 통해서 해야합니다.']) }}
      <div id="western_use_meta_div" class="collapse">
        {{ macros.setting_input_text('western_meta_match_path', '메타 매칭시 이동 경로', desc=['메타 매칭시 이동할 경로입니다.', '설정값 루트로 이동합니다.', '매칭되지 않으면 아래 라이브러리 경로 설정에 따릅니다.', ], value=arg['western_meta_match_path']) }}
      </div>
      {{ macros.setting_input_textarea('western_target_path', '라이브러리 경로', desc=['Western 영상 파일이 정리될 폴더입니다.', '2개 이상일 경우 구분자 | 또는 엔터', '다운로드 경로에 있는 폴더나 파일명에 이곳의 자식 폴더명이 포함되면 이동합니다.'], value=arg['western_target_path'], row='3') }}
      {{ macros.setting_input_text('western_temp_path', '이동 실패시', desc=['정해진 규칙에 의해 파일이동을 하지 못하는 영상 파일이 이동할 폴더입니다.'], value=arg['western_temp_path']) }}
      </div>
    {{ macros.m_tab_content_end() }}




    {{ macros.m_tab_content_start('etc', false) }}
      {{ macros.setting_checkbox('normal_use', '일반 사용', value=arg['normal_use']) }}
      <div id="normal_use_div" class="collapse" style="">
      {{ macros.setting_input_textarea('normal_download_path', '다운로드 경로', desc=['일반 영상을 다운받은 경로입니다.', '2개 이상일 경우 , 구분자 | 또는 엔터 |'], value=arg['normal_download_path'], row='3') }}
      {{ macros.setting_input_textarea('normal_target_path', '라이브러리 경로', desc=['일반 영상 파일이 정리될 폴더입니다.'], value=arg['normal_target_path'], row='3') }}
      {{ macros.setting_input_text('normal_temp_path', '이동 실패시', desc=['타겟 폴더가 없을 경우 파일이 이동할 폴더입니다.'], value=arg['normal_temp_path']) }}
      {{ macros.setting_input_int('normal_min_size', '일반2 최소 크기', value=arg['normal_min_size'], placeholder='50', desc=['메가단위']) }}
      </div>
    {{ macros.m_tab_content_end() }}

    {{ macros.m_tab_content_start('action', false) }}
      {{ macros.setting_button([['global_one_execute_btn', '1회 실행']], left='1회 실행' ) }}
      {{ macros.setting_button([['global_reset_db_btn', '목록 전체 지우기']], left='DB정리' ) }}
    {{ macros.m_tab_content_end() }}
    
  </div><!--tab-content-->
  </form>
</div> <!--전체-->



<script type="text/javascript">
var package_name = "{{arg['package_name'] }}";

$(document).ready(function(){
  use_collapse("censored_use")
  use_collapse("uncensored_use")
  use_collapse("western_use")
  use_collapse("normal_use")
  if (parseInt("{{arg['censored_use_meta']}}")>= 1) {
    $('#censored_use_meta_div').collapse('show')
  }
  if (parseInt("{{arg['uncensored_use_meta']}}")>= 1) {
    $('#uncensored_use_meta_div').collapse('show')
  }
  if (parseInt("{{arg['western_use_meta']}}")>= 1) {
    $('#western_use_meta_div').collapse('show')
  }
});


$('input[type=radio][name=censored_use_meta]').change(function() {
  if (this.value == 0) {
    $('#censored_use_meta_div').collapse('hide')
  } else {
    $('#censored_use_meta_div').collapse('show')
  }
});


$('input[type=radio][name=uncensored_use_meta]').change(function() {
  if (this.value == 0) {
    $('#uncensored_use_meta_div').collapse('hide')
  } else {
    $('#uncensored_use_meta_div').collapse('show')
  }
});

$('input[type=radio][name=western_use_meta]').change(function() {
  if (this.value == 0) {
    $('#western_use_meta_div').collapse('hide')
  } else {
    $('#western_use_meta_div').collapse('show')
  }
});


$('input[type=radio][name=normal_use_meta]').change(function() {
  if (this.value == 0) {
    $('#normal_use_meta_div').collapse('hide')
  } else {
    $('#normal_use_meta_div').collapse('show')
  }
});


$('#censored_use').change(function() {
  use_collapse('censored_use');
});
$('#uncensored_use').change(function() {
  use_collapse('uncensored_use');
});

$('#western_use').change(function() {
  use_collapse('western_use');
});
$('#normal_use').change(function() {
  use_collapse('normal_use');
});

</script>    
{% endblock %}